.projects {
	padding-top: 68px;
	padding-bottom: 68px;

	@include mobile {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	&__container {
		display: grid;
		grid-template: auto 1fr / 1fr;

	}
	&__title {
		margin-bottom: 12px;

		@include mobile {
			margin-bottom: 16px;
		}
	}

	&__list {
		display: grid;
		margin: 0;
		padding: 0;
		grid-template: repeat(2, 1fr) / repeat(12, 1fr);
		gap: 30px;

		@include tablet {
			grid-template: repeat(1, 1fr) / repeat(16, 1fr);			
			gap: 23px 30px;
		}

		@include minitablet {
			grid-template: repeat(1, 1fr) / repeat(12, 1fr);	
			gap: 27px 30px;
		}

		@include mobile {
			display: flex;
			flex-direction: column;
			gap: 22px 30px;
		}

		
		
	}
	&__item {
		list-style-type: none;

		&:nth-child(1) {
			grid-column: 2 span;
			order: 1;

			@include tablet {
				grid-column: 4 span;
			}

			@include mobile {
				grid-column: 1 span;
			}
		}
		&:nth-child(2) {
			grid-column: 2 span;
			order: 2;

			@include tablet {
				grid-column: 4 span;
			}

			@include mobile {
				grid-column: 1 span;
			}
		}
		&:nth-child(3) {
			grid-column: 2 span;
			order: 3;

			@include tablet {
				grid-column: 8 span;
			}

			@include minitablet {
				grid-column: 4 span;
			}

			@include mobile {
				grid-column: 1 span;
			}
		}

		&:nth-child(4) {
			grid-column: 6 span;
			order: 4;

			@include tablet {
				grid-column: 10 span;
			}

			@include minitablet {
				grid-column: 12 span;
			}

			@include mobile {
				margin-bottom: 8px;
				grid-column: 1 span;
			}

			.projects__subtitle {
				margin-bottom: auto;

				@include minitablet {
					margin-bottom: 46px;
				}

				@include mobile {
					margin-bottom: 14px;
				}
			}
		}

		&:nth-child(5) {
			grid-column: 6 span;
			order: 5;

			@include tablet {
				grid-column: 10 span;
				order: 8;
			}

			@include minitablet {
				grid-column: 12 span;
			}

			@include mobile {
				grid-column: 1 span;
			}

			.projects__subtitle {
				margin-bottom: auto;

				@include minitablet {
					margin-bottom: 93px;
				}

				@include mobile {
					margin-bottom: 22px;
				}
			}
		}

		&:nth-child(4), &:nth-child(5) {
			// padding: 22px 30px;

			.projects__img {
				margin-bottom: 0;
				height: 100%;

				@include tablet {
					padding: 31px 30px 30px;
				}

				@include mobile {
					padding: 197px 30px 30px;
				}
			}
			
		}
		&:nth-child(6) {
			grid-column: 3 span;
			order: 6;

			@include tablet {
				grid-column: 6 span;	

				.projects__subtitle {
					-webkit-line-clamp: 3;
				}
			}

			@include mobile {
				grid-column: 1 span;
			}
		}
		&:nth-child(7) {
			grid-column: 3 span;
			order: 7;

			@include tablet {
				grid-column: 6 span;	

				.projects__subtitle {
					-webkit-line-clamp: 3;
				}
			}

			@include mobile {
				grid-column: 1 span;
			}
		}

		& article {
			position: relative;
			display: flex;
			flex-direction: column;
			height: 100%;

		
			// &:nth-child(1)>.projects__img::after {
			// 	content: '#пейзаж';
			// }
			// &:nth-child(2)>.projects__img::after {
			// 	content: '#портрет';
			// }
			// &:nth-child(3)>.projects__img::after {
			// 	content: '#предмет';
			// }
			// &:nth-child(4)>.projects__img::after {
			// 	content: '#fuji';
			// }
			// &:nth-child(5)>.projects__img::after {
			// 	content: '#проектзабвение';
			// }
			// &:nth-child(6)>.projects__img::after {
			// 	content: '#ретушь';
			// }
			// &:nth-child(7)>.projects__img::after {
			// 	content: '#портрет';
			// }
			
			&.projects__img:nth-child(2) {
				margin-bottom: 100px;
			}

			

		}
	}
	&__img {
		position: relative;
		padding: 22px 30px 30px;
		margin-bottom: 18px;
		position: relative;
		height: 184px;
		
		& img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		
		.hashtag {
			// content: '123';
			position: absolute;
			display: block;
			top: 7px;
			right: 7px;
			padding: 6px 13px;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 16px;
			text-decoration: none;
			// width: 50px;
			// height: 25px;
			background-color: #333;
			color: #fff;

			@include mobile {
				top: 6px;
				right: 5px;
				padding: 4px 14px;
				font-size: 12px;
				line-height: 14px;
			}
		}

	}

	&__article-title {
		margin: 0;
	}
	
	&__subtitle	{
		display: -webkit-box;
		margin-bottom: 10px;
		font-family: roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 22px;
		text-decoration: none;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
		color: #202020;

		@include tablet {
			margin-bottom: 18px;
			-webkit-line-clamp: 2;
		}

		@include minitablet {
			margin-bottom: 12px;
			-webkit-line-clamp: 3;
		}

		@include mobile	 {
			-webkit-line-clamp: 2;
		}
		

		&:hover {
			@include linkHover;
		}
		&:focus {
			@include linkFocus;
		}
		&:active {
			@include linkActive;
		}
	}

	&__data {
		// margin-top: auto;
		padding-left: 20px;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 22px;
		color: #999;
		background: url(../img/svg/sprite.svg#calendar) -42px 41%/auto 72% no-repeat;	
	}

	&__content {
		padding-right: 275px;
		position: relative;
		top: 0;
		left: 0;
		display: flex;
		height: 100%;
		flex-direction: column;
		color: #fff;

		@include tablet {
			padding-right: 45%;
		}

		@include minitablet {
			padding-right: 55%;
		}

		@include mobile {
			padding-right: 0;
		}

		.projects__data {
			margin-top: 0;
			margin-bottom: 2px;
			color: #fff;
			background: url(../img/svg/sprite.svg#calendar-white) -42px 41%/auto 72% no-repeat;	

			@include mobile {
				margin-bottom: 7px;
			}
		}

		.projects__item-title {
			margin-top: 0;
			margin-bottom: 6px;
			font-style: normal;
			font-weight: bold;
			font-size: 25px;
			line-height: 24px;

			@include mobile {
				margin-bottom: 10px;
			}
		}

		.projects__subtitle {
			color: #fff;
			display: -webkit-box;
			margin-top: 0;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			overflow: hidden;

			@include mobile {
				font-size: 14px;
				line-height: 18px;
				-webkit-line-clamp: 4;
			}
		}
	}
}