.footer{

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include minitablet {
			flex-wrap: wrap;
		}
	}

	&__up {
		padding: 24px 0;
		background: #eaeaea;

	}

	&__social {
		display: flex;
		margin-right: auto;
		flex-direction: column;

		@include minitablet {
			margin-right: 0;
			margin-bottom: 28px;
			width: 100%;
			flex-direction: row;
			justify-content: space-between;
		}

		@include mobile {
			margin-bottom: 27px;
			flex-direction: column;
			align-items: center;
		}

		&-list {
			margin: 0;
			display: flex;
			padding-left: 0;
		}
		&-item {
			display: block;
			width: 30px;
			height: 30px;
			position: relative;
			z-index: 1;

			

			&-link {
				display: block;
				width: 100%;
				height: 100%;

				svg {
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
					width: 100%;
					fill: #999;
					transition: fill .2s;
				}

				&:hover svg{
					fill: #A65CF0;
				}
				&:focus {
					outline: none;
				}
				&:focus svg {
					fill: #fff;
				}
				&:active svg {
					fill: #7033AC;
				}

				&::before {
					content: '';
					position: absolute;
					top: -3px;
					left: -3px;
					visibility: hidden;
					opacity: 0;
					height: 36px;
					width: 36px;
					background: #C998FB;
					z-index: -1;
					transition: visibility .2s, opacity .2s;
				}

				&:focus::before {
					visibility: visible;
					opacity: 1;
				}

				&:active::before {
					visibility: hidden;
					opacity: 0;
				}
			}

			&:not(:last-child) {
				margin-right: 20px;
			}
			
		}
	}

	&__logo {
		position: relative;
		margin-bottom: 30px;
		width: 187px;
		height: 27px;

		@include minitablet {
			margin-top: 2px;
			margin-bottom: 0;
		}
		@include mobile {
			margin-top: 0;
			margin-bottom: 24px;
		}
	}

	&__menu {
		display: flex;
		padding-left: 30px;
		justify-content: space-between;
		width: 873px;

		@include minitablet {
			padding-left: 0;
			width: 100%;
		}
		@include mobile {
			display: grid;
			grid-template: repeat(2, 1fr) / repeat(2, 1fr);
			gap: 27px 19px;
		}

		&-list {
			margin: 0;
			padding-left: 0;
			list-style-type: none;

			&:nth-child(2) {
				margin-right: 20px;

				@include mobile {
					margin-right: 0;
				}
			}
			&:nth-child(3) {
				margin-right: 35px;

				@include mobile {
					margin-right: 0;
				}
			}

			:not(:last-child) {
				margin-bottom: 10px;

				@include tablet {
					margin-bottom: 8px;
				}
				@include mobile {
					margin-bottom: 9px;
				}
			}
		}

		&-item {
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 100%;
			
			&-link {
				position: relative;
				text-decoration: none;
				color: #999;
				z-index: 1;
				transition: color .2s;

				&::before {
					content: '';
					position: absolute;
					top: 1px;
					left: -10px;
					visibility: hidden;
					opacity: 0;
					height: 101%;
					width: calc(100% + 20px);
					background: #EBD1FF;
					z-index: -1;
					transition: visibility .2s, opacity .2s;
				}

				&:hover {
					color: #A65CF0;
				}

				&:focus {
					color: #7033AC;
					outline: none;
				}

				&:focus::before {
					visibility: visible;
					opacity: 1;
				}

				&:active {
					color: #7033AC;
				}

				&:active::before {
					visibility: hidden;
					opacity: 0;
				}
			}
		}

		&-title {
			margin: 0;
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 100%;
			color: #333;
		}
	}

	&__down {
		display: flex;
		padding: 5px;
		background: #f6f6f6;
	}

	&__сopyright {
		display: block;
		margin: 0 auto;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 19px;
		color: #999;
	}

	&__ye {
		padding-left: 5px;
	}
}