.hero {
	padding-top: 32px;
	
	@include minitablet {
		padding-top: 31px;
	}

	&__container {
		padding: 0 30px;
	}

	&__swiper {
		position: relative;

		.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
			bottom: 21px;
		}


		&-pagination {
			position: absolute;
			bottom: 19px;
			text-align: center;
			z-index: 10;

			.swiper-pagination-bullet {
				width: 14px;
				height: 14px;
				margin: 0 8px !important;
				background-color: #333;
				opacity: 0.3;

				@include mobile {
					width: 6px;
					height: 6px;
				}
			}
			
			.swiper-pagination-bullet-active {
				background-color: #333;
				opacity: 1;
			}
		}
	}
	&__slide {
		padding: 81px 0 100px;
		height: auto;

		@include mobile {
			padding: 30px 0 10px;
		}

		&:nth-child(1) {
			background: url('../img/hero/swap1.jpg') center / cover no-repeat;

			@include tablet {
				background: url('../img/hero/swap1-tablet.jpg') center / cover no-repeat;
			}

			@include minitablet {
				background: url('../img/hero/swap1-768.jpg') center / cover no-repeat;
			}

		}
		&:nth-child(2) {
			background: url('../img/hero/swap2.jpg') center / cover no-repeat;

			@include tablet {
				background: url('../img/hero/swap2-tablet.jpg') center / cover no-repeat;
			}

			@include minitablet {
				background: url('../img/hero/swap2-768.jpg') center / cover no-repeat;
			}

		}
		&:nth-child(3) {
			background: url('../img/hero/swap3.jpg') center / cover no-repeat;

			@include tablet {
				background: url('../img/hero/swap3-tablet.jpg') center / cover no-repeat;
			}

			@include minitablet {
				background: url('../img/hero/swap3-768.jpg') center / cover no-repeat;
			}

		}
		
	}
	&__title {
		margin-top: 0;
		margin-bottom: 89px;
		max-width: 555px;
		font-style: normal;
		font-weight: bold;
		font-size: 48px;
		line-height: 65px;

		@include tablet {
			padding-left: 5px;
			max-width: 560px;
		}

		@include minitablet {
			padding-left: 42px;
			max-width: 600px;
		}

		@include mobile {
			padding-left: 0;
			max-width: 204px;
			font-style: normal;
			font-weight: 700;
			font-size: 20px;
			line-height: 27px;
		}

		&_gray {
			color: #999;
		}
		&_white {
			color: #fff;
		}
	}
	&__link {
		position: absolute;
    left: Max(26px, calc((100vw - 1280px) / 2));
    bottom: 80px;
    display: block;
    padding: 20px 48px;

		@include tablet {
			left: Max(36px, calc((100vw - 1280px) / 2));
		}
		
		@include minitablet {
			left: Max(72px, calc((100vw - 1280px) / 2));
		}

		@include mobile {
			bottom: -92px;
			text-align: center;
			width: calc(100% - 24px);
			left: Max(13px, calc((100vw - 1280px) / 2));
		}
	}

	.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
		margin: 0 8px; 

		@include mobile {
			margin: 0 3px;
		}
	}
	.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
		bottom: 19px;

		@include mobile {
			bottom: 7px;
		}
	}

	
}