.high {
	padding-bottom: 70px;

	@include mobile {
		padding-top: 48px;
	}

	&__title {
		margin-bottom: 26px;

		@include tablet {
			margin-bottom: 25px;
		}

		@include minitablet {
			margin-bottom: 26px;
		}
	}

	&__list {
		display: grid;
		margin-bottom: 32px;
		padding: 0;
		list-style-type: none;
		grid-template: repeat(2, 1fr) / repeat(4, 1fr);
		grid-auto-rows: 1fr;
		grid-auto-columns: 1fr;
		gap: 32px;

		@include tablet {
			grid-template: repeat(2, 1fr) / repeat(3, 1fr);
		}
		@include minitablet {
			margin-bottom: 32px;
			grid-template: repeat(3, 1fr) / repeat(2, 1fr);
		}

		@include mobile {
			gap: 16px;
		}

		
	}

	&__cards-item {
		
		
		&:not(:nth-child(-n+8)) {
			display: none;
		}
		
		@include tablet {
			&:not(:nth-child(-n+6)) {
				display: none;
			}
		}

		&_active {
			&:not(:nth-child(-n+8)) {
				display: grid;
			}
			
			@include tablet {
				&:not(:nth-child(-n+6)) {
					display: grid;
				}
			}
		}
	}

	&__more {
		display: block;
		margin: 0 auto;
		padding: 20px 35px;
		max-width: 299px;

		@include mobile {
			padding: 20px 0;
			width: 100%;
			max-width: none;
		}
	}
}

.btn-hide {
	display: none;
}