.high {
	padding-bottom: 70px;

	@include mobile {
		padding-top: 48px;
	}

	&__container {

	}

	&__title {
		margin-bottom: 26px;

		@include tablet {
			margin-bottom: 25px;
		}

		@include minitablet {
			margin-bottom: 26px;
		}
	}

	&__list {
		display: grid;
		margin-bottom: 32px;
		padding: 0;
		list-style-type: none;
		grid-template: repeat(2, 1fr) / repeat(4, 1fr);
		grid-auto-rows: 1fr;
		grid-auto-columns: 1fr;
		gap: 32px;

		@include tablet {
			// margin-bottom: 30px;
			grid-template: repeat(2, 1fr) / repeat(3, 1fr);
		}
		@include minitablet {
			margin-bottom: 32px;
			grid-template: repeat(3, 1fr) / repeat(2, 1fr);
		}

		@include mobile {
			gap: 16px;
		}

		
	}

	&__item {
		position: relative;
		padding-bottom: 30px;
		// display: grid;
		// height: 420px;
		// grid-template: 1fr auto auto / 1fr;
		background: #f6f6f6;
		border-radius: 10px;

		@include mobile {
			padding-bottom: 16px;
		}

		&:nth-child(1) {

			.high__img {

				& img {
					bottom: 1px;
				}
			}
		}

		&:nth-child(2) {

			.high__img {

				& img {
					bottom: -3px;
				}
			}
		}

		&:nth-child(3) {

			.high__img {

				& img {
					bottom: -3px;
				}
			}
		}

		&:nth-child(4) {

			.high__img {

				& img {
					bottom: -9px;
				}
			}
		}

		&:nth-child(5) {

			.high__img {

				& img {
					bottom: -6px;
				}
			}
		}

		&:nth-child(6) {

			.high__img {

				& img {
					bottom: -6px;
				}
			}
		}

		& article {
			display: flex;
			flex-direction: column;
			height: 100%;
		}

		// &-container {
		// 	padding: 0 30px 47px;
		// 	grid-row: 3 / 4;
		// }

		&:not(:nth-child(-n+8)) {
			display: none;
		}

		@include tablet {
			&:not(:nth-child(-n+6)) {
				display: none;
			}
		}
	}

	.items-block {
		display: grid;
	}
	.btn-hide {
		display: none;
	}
	

	&__rating {
		position: absolute;
		top: 32px;
		left: 30px;
		padding-left: 22px;
		background: url("../img/svg/sprite.svg#star") -5px 34% / 59% no-repeat;
		color: #FF862F;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 130%;
		z-index: 2;

		@include mobile {
			top: 17px;
			left: 16px;
			padding-left: 19px;
			background: url("../img/svg/sprite.svg#star") -4px 34% / 59% no-repeat;
			font-size: 12px;
		}
	}

	&__img {
		position: relative;
		// display: block;
		margin: 0 auto 16px;
		// width: auto;
		height: 192px;
		// grid-row: 2 / 3;
		// object-fit: contain;

		@include mobile {
			margin: 9vw auto 20px;
			height: 59px;
		}

		& img {
			// position: relative;
			top: auto;
			left: 50%;
			transform: translateX(-50%);
			bottom: 0;
			width: auto;
			max-height: 100%;
			height: auto;

			@include mobile {
				width: 34vw;
				object-fit: contain;
			}
		}
	}

	&__minititle {
		margin-top: 0;
		margin-bottom: 21px;
		padding: 0 30px;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		line-height: 130%;

		@include mobile {
			margin-bottom: 16px;
			padding: 0 16px;
			font-size: 16px;
		}
	}

	&__price {
		margin-top: 0;
		margin-bottom: 24px;
		padding: 0 30px;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 130%;
		color: #666;

		@include mobile {
			margin-bottom: 15px;
			padding: 0 16px;
		}
	}

	&__link {
		display: block;
		margin-top: auto;
		margin-left: 30px;
		max-width: 128px;
		padding: 17px 32px;
		border: 2px solid #a65cf0;
		border-radius: 10px;
		color: #a65cf0;
		align-items: center;

		@include mobile {
			margin-left: 16px;
			padding: 10px 0;
			max-width: calc(100% - 32px);
			text-align: center;
		}
	}

	&__more {
		display: block;
		margin: 0 auto;
		padding: 20px 35px;
		max-width: 299px;

		@include mobile {
			padding: 20px 0;
			width: 100%;
			max-width: none;
		}
	}
}