.special {
	padding: 70px 0;

	@include mobile {
		padding: 163px 0 70px;
	}

	&__container {
		position: relative;
	}
	&__title {
		margin-bottom: 26px;
	}
	&__slide-btn {
		position: absolute;
		top: 0;
		right: 26px;

		@include tablet {
			right: 36px;
		}
		@include minitablet {
			right: 72px;
		}

		@include mobile {
			top: auto;
			right: auto;
			left: 50%;
			transform: translateX(-50%);
			bottom: -48px;
		}

		&-prev {
			margin-right: 8px;

			@include tablet {
				margin-right: 9px;
			}
		}
	}

	&__swiper {
		overflow: hidden;
	}

	&__cards {

		&-item {
			padding-bottom: 0;
	
			&:nth-child(3n+1) {
				width: 25%;
				max-width: 296px;
	
				@include tablet {
					max-width: none;
				}
			}
			&:nth-child(3n+2) {
				width: 50%;
				max-width: 624px;
	
				@include tablet {
					max-width: none;
				}
	
				.special__cards-item-container {
					flex-direction: row;
				}
			}
			&:nth-child(3n+3) {
				width: 25%;
				max-width: 296px;
	
				@include tablet {
					max-width: none;
				}
			}
			&:nth-child(2) {
	
				.special__cards-img {
	
					@include tablet {
						margin: 0 auto 50px;
						height: 250px;
					}
				}
			}
			&:nth-child(5) {
				
	
				.special__cards-img {
	
					@include tablet {
						margin: 0 auto 50px;
						height: 250px;
					}
				}
			}
		}

		&-img {
			position: relative;
			margin: 0 auto 16px;
			height: 283px;
			
			&-picture {
				position: absolute;
				top: auto;
				left: 50%;
				transform: translateX(-50%);
				bottom: 0;
				width: auto;
				height: auto;
				max-height: 100%;
				object-fit: cover;
			}
		}

		&-minititle {
			margin-bottom: 20px;
			padding: 0;
			max-width: 222px;

			@include mobile {
				margin-bottom: 20px;
				padding: 0;
				font-size: 24px;
			}
		}

		&-price {
			margin: 0 31px 0 0;
			padding: 0;
			font-size: 18px;
			color: #FF862F;
			
			&-area {
				display: flex;
				margin-bottom: 22px;
				align-items: center;
			}

			&-old {
				margin: 0;
				position: relative;
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				line-height: 130%;
				color: #999;
	
				&::after {
					content: '';
					position: absolute;
					top: 60%;
					left: 0;
					width: 100%;
					height: 1px;
					background: #999;
	
				}
			}
		}

		&-link {
			left: 0;

			@include mobile {
				left: 0;
				padding: 17px 32px;
				max-width: 128px;
				text-align: center;
			}
		}

	}

}